.main-container {
    width: 550px;
    height: 570px;
    background-color: white;
}

.navbar {
    width: 550px;
    height: 80px;
    background-color: #8424a5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-img {
    width: 50.31px;
    height: 60.22px;
    margin: 0px 20px 0px 20px;
}

nav h4 {
    font-family: Karla;
    font-weight: 700;
    letter-spacing: -0.1em;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Karla;
}

.form-field {
    margin-top: 30px;
    width: 222px;
}

.form-field input {
    border: 0.82px solid #D1D5DB;
    top: 20.27px;
    padding: 7.37px 10.64px 7.37px 10.64px;
    border-radius: 5px;
    outline: none;
}

.form-field label {
    font-size: 16px;
    color: #374151;
    ;
}

.generate-meme-button {
    width: 471px;
    height: 40px;
    margin: 30px 0px 0px 44px;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    color: white;
}

.meme-image {
    width: 467px;
    height: 268px;
    margin: 30px 29px 20px 44px;
}